.summary-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-text-container h1 {
    font-family: 'PlusJakartaSansSemiBold';
    font-size: 3rem;
}

.summary-text-container h2 {
    font-family: 'PlusJakartaSansExtraLight';
    font-size: 1rem;
}

.summary-textred-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-textred-container h1 {
    font-family: 'PlusJakartaSansSemiBold';
    font-size: 3rem;
    color: #C0423C;
}

.summary-textred-container h2 {
    font-family: 'PlusJakartaSansExtraLight';
    font-size: 1rem;
    color: #C0423C;
}