.leaveplan-detail-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.leaveplan-detail-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaveplan-detail-title-container .leaveplan-detail-title-name {
    font-family: 'PlusJakartaSansBold';
    font-size: 1.4rem;
}

.leaveplan-detail-info-container {
    display: flex;
    gap: 2rem;
}

.leaveplan-detail-info-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.leaveplan-detail-info-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}