.summaryinfo-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.summaryinfo-group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.crew-sumary-title h1 {
    font-family: 'PlusJakartaSansRegular';
    font-size: 1.5rem;
}

.crew-sumary-title  {
    display: flex;
    justify-content: center;
}