.mcutable-label-container {
    display: flex;
    justify-content: center;
    padding: .4rem;
    /* width: 100%; */
}

.mcutable-label-container h1 {
    font-size: 1.3rem;
    font-family: 'PlusJakartaSansSemiBold';
}

.mcu-table-container table {
    border-collapse: collapse;
    font-size: .8em;
    width: 100%;
}

.mcu-table-container table thead {
    background-color: #F2F3F6;
}

.mcu-table-container table thead th {
    font-family: 'PlusJakartaSansRegular';
    color: #343A40;
}

.mcu-table-container table tr {
    border-bottom: .1rem solid #EAECF0;
}

.mcu-table-container table th {
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-right: .8rem;
    padding-left: .8rem;
    font-family: 'PlusJakartaSansExtraLight';
    color: #6C757D;
}

.mcu-table-container table tbody .mcutable-name-text {
    font-family: 'PlusJakartaSansRegular';
    color: #343A40;
}