.navbarauth-container {
    background-color: #212529;
    display: flex;
    color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: space-between;
}

.navbarauth-logos-container {
    display: flex;
    gap: 5rem;
    align-content: center;
    align-items: center;
}

.navbarauth-sikatlogo-container img {
    width: 8rem;
}

.navbarauth-kpclogos-container {
    display: flex;
    gap: 1rem;
    align-content: center;
    align-items: center;
}

.navbarauth-kpclogo img {
    width: 5rem;
}

.navbarauth-mologo img {
    width: 12rem;
}

.navbarauth-info-container {
    display: flex;
    gap: 3rem;
    align-content: center;
    align-items: center;
}

.navbarauth-hamburger {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    cursor: pointer;
}

.navbarauth-hamburger .line {
    background-color: #ffffff;
    padding-top: .05rem;
    padding-bottom: .05rem;
    padding-right: .8rem;
    padding-left: .8rem;
}

.navbarauth-updatedatinfo-container h6 {
    color: #fff;
    font-size: .8rem;
}

.navbarauth-timestampinfo-container h6 {
    color: #fff;
    font-size: .8rem;
}

.nvabarauth-hamburger {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    cursor: pointer;
}

.navbarauth-hamburger .navbarauth-line {
    background-color: #ffffff;
    padding-top: .05rem;
    padding-bottom: .05rem;
    padding-right: .8rem;
    padding-left: .8rem;
    
}
